<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Accounts</title>
	<link th:href="@{/styles/BankingAppStyle.css}" rel="stylesheet">
</head>
<body>
	<h1>Transactions</h1>
		<table border="1">
		<tr>
			<th>Transaction ID</th>
			<th>Debit Account ID</th>
			<th>Credit Account ID</th>
			<th>Amount</th>
		</tr>
		<tr th:each="transaction : ${transactions}">
			<td th:text="${transaction.transactionId}"></td>
			<td th:text="${transaction.debitAccountId}"></td>
			<td th:text="${transaction.creditAccountId}"></td>
			<td th:text="${transaction.amount}"></td>
		</tr>
	</table><br><br>
	<form action="./deleteTransactions">
		<input type="submit" value="DeleteAll">
	</form>
	<form action="./mainMenu">
		<input type="submit" value="Back">
	</form>
</body>
</html>